## Importing Library and Loading Data

In [1]:
import pandas as pd

In [4]:
data_order=pd.read_csv('D:/Tenx Batch 6/Week 9/nb.csv')
df_driver=pd.read_csv('D:/Tenx Batch 6/Week 9/driver_locations_during_request.csv')

## Data Preprocessing
### Clean Dataset - order dataset
### dataset table

In [5]:
df_driver.drop(columns=['created_at','updated_at'],inplace=True)

## Rename dataset columns

In [6]:
df_order = pd.DataFrame()
cols = ['trip_id','trip_origin','trip_destination','trip_start_time','trip_end_time']
for i in range(len(cols)):
  df_order[cols[i]] = data_order.iloc[:,i]

## split the latitude and longtude and convert them to float

In [7]:
origin = df_order["trip_origin"].str.split(",", n = 1, expand = True)
dest = df_order["trip_destination"].str.split(",", n = 1, expand = True)

In [8]:
df_order['origin_lat'] = origin[0]
df_order['origin_lon'] = origin[1]
df_order['dest_lat'] = dest[0]
df_order['dest_lon'] = dest[1]

In [9]:
df_order.drop(columns=['trip_origin','trip_destination'],inplace=True)

In [10]:
df_order.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 536020 entries, 0 to 536019
Data columns (total 7 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   trip_id          536020 non-null  int64
 1   trip_start_time  534369 non-null  object
 2   trip_end_time    536019 non-null  object
 3   origin_lat       536020 non-null  object
 4   origin_lon       536020 non-null  object
 5   dest_lat         536020 non-null  object
 6   dest_lon         536020 non-null  object
dtypes: int64(1), object(6)
memory usage: 28.6+ MB

In [11]:
df_order.isnull().sum()

trip_id               0
trip_start_time    1651
trip_end_time         1
origin_lat            0
origin_lon            0
dest_lat              0
dest_lon              0
dtype: int64

In [12]:
df_order.dest_lat=df_order.dest_lat.astype(float)
df_order.dest_lon=df_order.dest_lon.astype(float)
df_order.origin_lat=df_order.origin_lat.astype(float)
df_order.origin_lon=df_order.origin_lon.astype(float)

## compute absolute distance

In [14]:
pip install geopy

Collecting geopy
  Downloading geopy-2.2.0-py3-none-any.whl (118 kB)
Collecting geographiclib<2,>=1.49
  Downloading geographiclib-1.52-py3-none-any.whl (38 kB)
Installing collected packages: geographiclib, geopy
Successfully installed geographiclib-1.52 geopy-2.2.0
Note: you may need to restart the kernel to use updated packages.

In [15]:
from geopy.distance import great_circle as GRC

In [16]:
df_order['distance'] = df_order.apply(lambda row: GRC((row['origin_lat'], row['origin_lon']), (row['dest_lat'], row['dest_lon'])).m, axis=1)

In [17]:
df_order[df_order.distance==0]

,trip_id,trip_start_time,trip_end_time,origin_lat,origin_lon,dest_lat,dest_lon,distance
436798,1359328,2021-11-26 17:11:44,2021-11-26 17:16:30,6.600663,3.311015,6.600663,3.311015,0.0
437199,1360363,2021-11-26 18:38:59,2021-11-26 18:39:40,6.615078,3.346345,6.615078,3.346345,0.0
437277,1360540,2021-11-26 18:59:10,2021-11-26 19:00:02,6.428615,3.444754,6.428615,3.444754,0.0
437285,1360557,2021-11-26 19:01:51,2021-11-26 19:02:35,6.428615,3.444754,6.428615,3.444754,0.0
437370,1360720,2021-11-26 19:29:24,2021-11-26 19:29:59,6.453925,3.482031,6.453925,3.482031,0.0
...,...,...,...,...,...,...,...,...
526165,1612730,2021-12-26 14:52:02,2021-12-26 14:53:57,6.674690,3.480629,6.674690,3.480629,0.0
526178,1612774,2021-12-26 15:03:42,2021-12-26 15:06:36,6.508763,3.579862,6.508763,3.579862,0.0
526183,1612796,2021-12-26 15:07:58,2021-12-26 15:10:28,6.508763,3.579862,6.508763,3.579862,0.0
526250,1612980,2021-12-26 15:48:54,2021-12-26 15:49:47,6.508763,3.579862,6.508763,3.579862,0.0
530492,1623854,2021-12-28 17:14:50,2021-12-28 17:41:57,6.620895,3.329562,6.620895,3.329562,0.0

In [18]:
df_order

,trip_id,trip_start_time,trip_end_time,origin_lat,origin_lon,dest_lat,dest_lon,distance
0,391996,2021-07-01 07:28:04,2021-07-01 07:29:37,6.508813,3.377403,6.650970,3.345031,16206.572264
1,391997,2021-07-01 06:38:04,2021-07-01 07:07:28,6.431671,3.455538,6.428081,3.472189,1882.677988
2,391998,2021-07-01 06:21:02,2021-07-01 07:02:23,6.631679,3.338898,6.508324,3.359040,13895.792462
3,391999,2021-07-01 07:16:07,2021-07-01 07:29:42,6.572757,3.367708,6.584881,3.361407,1517.188204
4,392001,2021-07-01 09:30:59,2021-07-01 09:34:36,6.601042,3.276634,6.450107,3.391615,21048.291786
...,...,...,...,...,...,...,...,...
536015,1637696,2021-12-30 20:35:06,2021-12-30 21:02:59,6.448218,3.477208,6.437787,3.481670,1260.349833
536016,1637702,2021-12-30 20:48:13,2021-12-30 21:43:49,6.442321,3.473687,6.436589,3.555974,9114.493804
536017,1637704,2021-12-30 20:51:45,2021-12-30 21:41:32,6.428198,3.492248,6.448089,3.477575,2742.312157
536018,1637705,2021-12-30 20:48:50,2021-12-30 21:08:28,6.586930,3.363297,6.637907,3.333951,6529.718841
536019,1637709,2021-12-30 20:55:38,2021-12-30 22:25:00,6.647210,3.485149,6.454915,3.555840,22763.636281

## trip start and end time

In [19]:
df_order.dropna(inplace=True)

In [20]:
df_order['trip_start_time'] = pd.to_datetime(df_order['trip_start_time'])
df_order['trip_end_time'] = pd.to_datetime(df_order['trip_end_time'])

In [21]:
df_order['duration'] = (df_order['trip_end_time'] - df_order['trip_start_time']).dt.total_seconds()

In [22]:
(df_order['trip_end_time'] - df_order['trip_start_time']).dt.days.value_counts()

0      533410
1         576
2         151
3          67
4          41
5          36
8          10
6           9
10          8
7           6
9           5
13          3
12          3
17          3
15          2
23          2
11          2
63          2
96          2
40          2
28          2
24          2
22          1
60          1
31          1
94          1
34          1
70          1
35          1
48          1
69          1
26          1
64          1
19          1
206         1
16          1
29          1
100         1
107         1
25          1
36          1
61          1
21          1
62          1
86          1
18          1
dtype: int64

In [23]:
df_order[df_order.duration == df_order.duration.min()].duration

180414    0.0
189663    0.0
292634    0.0
470641    0.0
502790    0.0
Name: duration, dtype: float64

In [24]:
df_order.isnull().sum()

trip_id            0
trip_start_time    0
trip_end_time      0
origin_lat         0
origin_lon         0
dest_lat           0
dest_lon           0
distance           0
duration           0
dtype: int64

In [25]:
df_order.nunique()

trip_id            534368
trip_start_time    512515
trip_end_time      512782
origin_lat         110170
origin_lon         107207
dest_lat           144210
dest_lon           140378
distance           474019
duration            23205
dtype: int64

## zero duration columns

In [26]:
df_order[df_order.duration==0]

,trip_id,trip_start_time,trip_end_time,origin_lat,origin_lon,dest_lat,dest_lon,distance,duration
180414,795026,2021-09-03 14:05:12,2021-09-03 14:05:12,6.624570,3.493170,6.595893,3.339061,17318.306078,0.0
189663,820227,2021-09-07 16:32:24,2021-09-07 16:32:24,6.488143,3.353975,6.484055,3.380718,2989.394745,0.0
292634,1046759,2021-10-13 20:21:55,2021-10-13 20:21:55,6.597663,3.338111,6.443271,3.543392,28443.764116,0.0
470641,1437351,2021-12-07 12:30:21,2021-12-07 12:30:21,6.434051,3.425471,6.429460,3.440928,1782.611609,0.0
502790,1521526,2021-12-16 16:56:48,2021-12-16 16:56:48,6.422768,3.407091,6.442777,3.412836,2313.602844,0.0

## largest duration columns

In [27]:
df_order.duration.nlargest(5)

328184    17813706.0
240058     9309381.0
264209     8710336.0
302979     8355797.0
140962     8301181.0
Name: duration, dtype: float64

In [28]:
df_order.reset_index(inplace=True)

In [29]:
df_order.duration.nlargest(5)

327898    17813706.0
239866     9309381.0
263987     8710336.0
302722     8355797.0
140844     8301181.0
Name: duration, dtype: float64

## new features

In [30]:
df_order['year'] = df_order['trip_start_time'].dt.year
df_order['month'] = df_order['trip_start_time'].dt.month
df_order['hour'] = df_order['trip_start_time'].dt.hour

In [32]:
df_order.hour.unique()

array([ 7,  6,  9, 10,  8, 11, 13, 12, 14, 15, 16, 17, 18, 19, 20, 21, 23,
        2,  0,  5, 22,  1,  4,  3], dtype=int64)

In [33]:
df_order.to_csv('df_order.csv',index_label=None)

## Clean Dataset - Data Driver
## data driver table

In [34]:
df_driver.head()

   id  order_id  driver_id driver_action       lat       lng
0   1    392001     243828      accepted  6.602207  3.270465
1   2    392001     243588      rejected  6.592097  3.287445
2   3    392001     243830      rejected  6.596133  3.281784
3   4    392001     243539      rejected  6.596142  3.280526
4   5    392001     171653      rejected  6.609232  3.288800

In [35]:
df_driver.dtypes

id                 int64
order_id           int64
driver_id          int64
driver_action     object
lat              float64
lng              float64
dtype: object

## acceptance value counts

In [36]:
df_driver.driver_action.value_counts()

rejected    1531837
accepted      25903
Name: driver_action, dtype: int64

## Merge the datasets

In [37]:
df_order.rename(columns = {'trip_id':'order_id'},inplace=True)

In [38]:
df = df_driver.merge(df_order,how='inner',on='order_id')

In [39]:
df.order_id.nunique()

26458

In [40]:
df.driver_action.value_counts()

rejected    1529847
accepted      25871
Name: driver_action, dtype: int64

In [41]:
df.drop(columns=['id'],inplace=True)

In [42]:
df.describe()

,order_id,driver_id,lat,lng,index,origin_lat,origin_lon,dest_lat,dest_lon,distance,duration,year,month,hour
count,1.555718e+06,1.555718e+06,1.555718e+06,1.555718e+06,1.555718e+06,1.555718e+06,1.555718e+06,1.555718e+06,1.555718e+06,1.555718e+06,1.555718e+06,1.555718e+06,1.555718e+06,1.555718e+06
mean,4.191817e+05,2.341504e+05,6.536075e+00,3.378822e+00,1.286365e+04,6.535654e+00,3.380029e+00,6.536117e+00,3.383491e+00,8.489182e+03,3.705213e+03,2.021000e+03,6.999965e+00,1.356604e+01
std,1.444435e+04,2.270439e+04,5.995268e-02,5.329471e-02,6.722298e+03,6.026214e-02,5.275148e-02,7.310955e-02,7.487250e-02,6.349889e+03,7.806279e+03,7.170815e-03,4.028703e-02,3.026006e+00
min,3.920010e+05,1.219810e+05,6.409333e+00,3.076561e+00,4.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.647106e+01,1.600000e+01,2.021000e+03,1.000000e+00,0.000000e+00
25%,4.067520e+05,2.429970e+05,6.498708e+00,3.348810e+00,7.122000e+03,6.499314e+00,3.350294e+00,6.465051e+00,3.342701e+00,4.008269e+03,1.722000e+03,2.021000e+03,7.000000e+00,1.100000e+01
50%,4.216870e+05,2.435890e+05,6.544250e+00,3.363503e+00,1.385300e+04,6.537572e+00,3.368576e+00,6.536838e+00,3.369805e+00,6.919488e+03,2.608000e+03,2.021000e+03,7.000000e+00,1.400000e+01
75%,4.293130e+05,2.440560e+05,6.593277e+00,3.385168e+00,1.758700e+04,6.591381e+00,3.387167e+00,6.596473e+00,3.406328e+00,1.131920e+04,3.922000e+03,2.021000e+03,7.000000e+00,1.600000e+01
max,5.179480e+05,2.478770e+05,7.702536e+00,8.515414e+00,5.386500e+04,8.226835e+00,8.522293e+00,7.703160e+00,8.607887e+00,6.828784e+05,2.234210e+06,2.022000e+03,9.000000e+00,2.300000e+01

In [43]:
df.shape, df_driver.shape, df_order.shape

((1555718, 17), (1557740, 6), (534368, 13))

In [44]:
df_accepted = df[df.driver_action=='accepted'].copy(deep=True)

In [45]:
df_accepted.drop(columns=['driver_action'],inplace=True)

In [46]:
df_accepted.reset_index(inplace=True)

In [47]:
df_accepted.drop(columns=['index'],inplace=True)

In [48]:
df_accepted.describe()

,level_0,order_id,driver_id,lat,lng,origin_lat,origin_lon,dest_lat,dest_lon,distance,duration,year,month,hour
count,2.587100e+04,25871.000000,25871.000000,25871.000000,25871.000000,25871.000000,25871.000000,25871.000000,25871.000000,25871.000000,25871.000000,25871.000000,25871.000000,25871.000000
mean,8.027290e+05,420032.315025,236950.182869,6.528154,3.389208,6.528024,3.389423,6.522929,3.401055,11536.180757,3772.363109,2021.000116,6.999536,13.229717
std,5.054370e+05,16506.709366,19629.496290,0.071303,0.080260,0.079433,0.081154,0.102009,0.098738,12136.372978,7115.513966,0.010768,0.060277,3.102313
min,0.000000e+00,392001.000000,121981.000000,6.415885,3.076561,1.000000,1.000000,1.000000,1.000000,16.471055,16.000000,2021.000000,1.000000,0.000000
25%,3.677475e+05,405690.500000,243203.000000,6.453507,3.343523,6.455103,3.345503,6.449389,3.346477,5369.247981,1668.000000,2021.000000,7.000000,11.000000
50%,7.258900e+05,420379.000000,243679.000000,6.527532,3.369349,6.527243,3.371989,6.514889,3.379300,9816.814170,2776.000000,2021.000000,7.000000,13.000000
75%,1.333754e+06,434017.500000,244147.000000,6.594942,3.427251,6.594339,3.423915,6.593874,3.460672,15841.895164,4243.000000,2021.000000,7.000000,16.000000
max,1.555655e+06,517948.000000,247877.000000,7.702536,8.515414,8.226835,8.522293,7.703160,8.607887,682878.368122,326248.000000,2022.000000,9.000000,23.000000

## View the merged dataset

In [49]:
df.describe()

,order_id,driver_id,lat,lng,index,origin_lat,origin_lon,dest_lat,dest_lon,distance,duration,year,month,hour
count,1.555718e+06,1.555718e+06,1.555718e+06,1.555718e+06,1.555718e+06,1.555718e+06,1.555718e+06,1.555718e+06,1.555718e+06,1.555718e+06,1.555718e+06,1.555718e+06,1.555718e+06,1.555718e+06
mean,4.191817e+05,2.341504e+05,6.536075e+00,3.378822e+00,1.286365e+04,6.535654e+00,3.380029e+00,6.536117e+00,3.383491e+00,8.489182e+03,3.705213e+03,2.021000e+03,6.999965e+00,1.356604e+01
std,1.444435e+04,2.270439e+04,5.995268e-02,5.329471e-02,6.722298e+03,6.026214e-02,5.275148e-02,7.310955e-02,7.487250e-02,6.349889e+03,7.806279e+03,7.170815e-03,4.028703e-02,3.026006e+00
min,3.920010e+05,1.219810e+05,6.409333e+00,3.076561e+00,4.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.647106e+01,1.600000e+01,2.021000e+03,1.000000e+00,0.000000e+00
25%,4.067520e+05,2.429970e+05,6.498708e+00,3.348810e+00,7.122000e+03,6.499314e+00,3.350294e+00,6.465051e+00,3.342701e+00,4.008269e+03,1.722000e+03,2.021000e+03,7.000000e+00,1.100000e+01
50%,4.216870e+05,2.435890e+05,6.544250e+00,3.363503e+00,1.385300e+04,6.537572e+00,3.368576e+00,6.536838e+00,3.369805e+00,6.919488e+03,2.608000e+03,2.021000e+03,7.000000e+00,1.400000e+01
75%,4.293130e+05,2.440560e+05,6.593277e+00,3.385168e+00,1.758700e+04,6.591381e+00,3.387167e+00,6.596473e+00,3.406328e+00,1.131920e+04,3.922000e+03,2.021000e+03,7.000000e+00,1.600000e+01
max,5.179480e+05,2.478770e+05,7.702536e+00,8.515414e+00,5.386500e+04,8.226835e+00,8.522293e+00,7.703160e+00,8.607887e+00,6.828784e+05,2.234210e+06,2.022000e+03,9.000000e+00,2.300000e+01

## Holiday Mapping

In [50]:
from pandas.tseries.holiday import *
from pandas.tseries.offsets import CustomBusinessDay

class NigeriaCalendar(AbstractHolidayCalendar):
   rules = [
     Holiday('New Year', month=1, day=1, observance=sunday_to_monday),
     Holiday('Good Friday', month=4, day=2, observance=sunday_to_monday),
     Holiday('Easter Monday', month=4, day=5, observance=sunday_to_monday),
     Holiday('Workers Day', month=5, day=1,observance=sunday_to_monday),
     Holiday('Eid-el-fitri Sallah Holiday', month=5, day=12),
     Holiday('Democracy Day', month=6, day=14, observance=sunday_to_monday),
     Holiday('Id el Kabir', month=7, day=20, observance=nearest_workday),
     Holiday('Id el Kabir Holiday', month=7, day=21, observance=sunday_to_monday),
     Holiday('Independence Day', month=10, day=1, observance=sunday_to_monday),
     Holiday('Eidul-Mawlid', month=10, day=19, observance=nearest_workday),
     Holiday('Christmas Day', month=12, day=25, observance=nearest_workday),
     Holiday('Boxing Day', month=12, day=26),
     Holiday('Christmas Day', month=12, day=27, observance=nearest_workday),
     Holiday('Boxing Day', month=12, day=28)
   ]

In [51]:
NC = CustomBusinessDay(calendar=NigeriaCalendar())
total = pd.date_range(start=df.trip_start_time.dt.date.unique().min(), end=df.trip_start_time.dt.date.unique().max())
working = pd.date_range(start=df.trip_start_time.dt.date.unique().min(), end=df.trip_start_time.dt.date.unique().max(), freq=NC)

In [52]:
holiday = set(total.date)-set(working.date)

In [53]:
df['isHoliday'] = df.trip_start_time.dt.date.isin(holiday)*1

In [54]:
df['isHoliday'].value_counts()/df.shape[0] *100

0    87.15217
1    12.84783
Name: isHoliday, dtype: float64

In [55]:
df['driver_proximity'] = df.apply(lambda row: GRC( (row['lat'], row['lng']),(row['origin_lat'], row['origin_lon'])).m, axis=1)

In [56]:
df.head()

,order_id,driver_id,driver_action,lat,lng,index,trip_start_time,trip_end_time,origin_lat,origin_lon,dest_lat,dest_lon,distance,duration,year,month,hour,isHoliday,driver_proximity
0,392001,243828,accepted,6.602207,3.270465,4,2021-07-01 09:30:59,2021-07-01 09:34:36,6.601042,3.276634,6.450107,3.391615,21048.291786,217.0,2021,7,9,0,693.616345
1,392001,243588,rejected,6.592097,3.287445,4,2021-07-01 09:30:59,2021-07-01 09:34:36,6.601042,3.276634,6.450107,3.391615,21048.291786,217.0,2021,7,9,0,1554.088493
2,392001,243830,rejected,6.596133,3.281784,4,2021-07-01 09:30:59,2021-07-01 09:34:36,6.601042,3.276634,6.450107,3.391615,21048.291786,217.0,2021,7,9,0,788.354435
3,392001,243539,rejected,6.596142,3.280526,4,2021-07-01 09:30:59,2021-07-01 09:34:36,6.601042,3.276634,6.450107,3.391615,21048.291786,217.0,2021,7,9,0,694.071952
4,392001,171653,rejected,6.609232,3.288800,4,2021-07-01 09:30:59,2021-07-01 09:34:36,6.601042,3.276634,6.450107,3.391615,21048.291786,217.0,2021,7,9,0,1623.331351

In [57]:
df.describe()

,order_id,driver_id,lat,lng,index,origin_lat,origin_lon,dest_lat,dest_lon,distance,duration,year,month,hour,isHoliday,driver_proximity
count,1.555718e+06,1.555718e+06,1.555718e+06,1.555718e+06,1.555718e+06,1.555718e+06,1.555718e+06,1.555718e+06,1.555718e+06,1.555718e+06,1.555718e+06,1.555718e+06,1.555718e+06,1.555718e+06,1.555718e+06,1.555718e+06
mean,4.191817e+05,2.341504e+05,6.536075e+00,3.378822e+00,1.286365e+04,6.535654e+00,3.380029e+00,6.536117e+00,3.383491e+00,8.489182e+03,3.705213e+03,2.021000e+03,6.999965e+00,1.356604e+01,1.284783e-01,1.821102e+03
std,1.444435e+04,2.270439e+04,5.995268e-02,5.329471e-02,6.722298e+03,6.026214e-02,5.275148e-02,7.310955e-02,7.487250e-02,6.349889e+03,7.806279e+03,7.170815e-03,4.028703e-02,3.026006e+00,3.346217e-01,1.166246e+03
min,3.920010e+05,1.219810e+05,6.409333e+00,3.076561e+00,4.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.647106e+01,1.600000e+01,2.021000e+03,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,4.067520e+05,2.429970e+05,6.498708e+00,3.348810e+00,7.122000e+03,6.499314e+00,3.350294e+00,6.465051e+00,3.342701e+00,4.008269e+03,1.722000e+03,2.021000e+03,7.000000e+00,1.100000e+01,0.000000e+00,1.108226e+03
50%,4.216870e+05,2.435890e+05,6.544250e+00,3.363503e+00,1.385300e+04,6.537572e+00,3.368576e+00,6.536838e+00,3.369805e+00,6.919488e+03,2.608000e+03,2.021000e+03,7.000000e+00,1.400000e+01,0.000000e+00,1.717132e+03
75%,4.293130e+05,2.440560e+05,6.593277e+00,3.385168e+00,1.758700e+04,6.591381e+00,3.387167e+00,6.596473e+00,3.406328e+00,1.131920e+04,3.922000e+03,2.021000e+03,7.000000e+00,1.600000e+01,0.000000e+00,2.435290e+03
max,5.179480e+05,2.478770e+05,7.702536e+00,8.515414e+00,5.386500e+04,8.226835e+00,8.522293e+00,7.703160e+00,8.607887e+00,6.828784e+05,2.234210e+06,2.022000e+03,9.000000e+00,2.300000e+01,1.000000e+00,6.590527e+05

In [ ]:
df.to_csv('df.csv',index_label=None)

In [ ]:
df_accepted.to_csv('df_accepted',index_label=None)