## Importing Library and Loading Data

In [1]:
import pandas as pd

In [4]:
data_order=pd.read_csv('D:/Tenx Batch 6/Week 9/nb.csv')
df_driver=pd.read_csv('D:/Tenx Batch 6/Week 9/driver_locations_during_request.csv')

## Data Preprocessing
### Clean Dataset - order dataset
### dataset table

In [5]:
df_driver.drop(columns=['created_at','updated_at'],inplace=True)

## Rename dataset columns

In [6]:
df_order = pd.DataFrame()
cols = ['trip_id','trip_origin','trip_destination','trip_start_time','trip_end_time']
for i in range(len(cols)):
  df_order[cols[i]] = data_order.iloc[:,i]

## split the latitude and longtude and convert them to float

In [7]:
origin = df_order["trip_origin"].str.split(",", n = 1, expand = True)
dest = df_order["trip_destination"].str.split(",", n = 1, expand = True)

In [8]:
df_order['origin_lat'] = origin[0]
df_order['origin_lon'] = origin[1]
df_order['dest_lat'] = dest[0]
df_order['dest_lon'] = dest[1]

In [9]:
df_order.drop(columns=['trip_origin','trip_destination'],inplace=True)

In [10]:
df_order.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 536020 entries, 0 to 536019
Data columns (total 7 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   trip_id          536020 non-null  int64
 1   trip_start_time  534369 non-null  object
 2   trip_end_time    536019 non-null  object
 3   origin_lat       536020 non-null  object
 4   origin_lon       536020 non-null  object
 5   dest_lat         536020 non-null  object
 6   dest_lon         536020 non-null  object
dtypes: int64(1), object(6)
memory usage: 28.6+ MB

In [11]:
df_order.isnull().sum()

trip_id               0
trip_start_time    1651
trip_end_time         1
origin_lat            0
origin_lon            0
dest_lat              0
dest_lon              0
dtype: int64

In [12]:
df_order.dest_lat=df_order.dest_lat.astype(float)
df_order.dest_lon=df_order.dest_lon.astype(float)
df_order.origin_lat=df_order.origin_lat.astype(float)
df_order.origin_lon=df_order.origin_lon.astype(float)

## compute absolute distance

In [14]:
pip install geopy

Collecting geopy
  Downloading geopy-2.2.0-py3-none-any.whl (118 kB)
Collecting geographiclib<2,>=1.49
  Downloading geographiclib-1.52-py3-none-any.whl (38 kB)
Installing collected packages: geographiclib, geopy
Successfully installed geographiclib-1.52 geopy-2.2.0
Note: you may need to restart the kernel to use updated packages.

In [15]:
from geopy.distance import great_circle as GRC

In [16]:
df_order['distance'] = df_order.apply(lambda row: GRC((row['origin_lat'], row['origin_lon']), (row['dest_lat'], row['dest_lon'])).m, axis=1)

In [17]:
df_order[df_order.distance==0]

,trip_id,trip_start_time,trip_end_time,origin_lat,origin_lon,dest_lat,dest_lon,distance
436798,1359328,2021-11-26 17:11:44,2021-11-26 17:16:30,6.600663,3.311015,6.600663,3.311015,0.0
437199,1360363,2021-11-26 18:38:59,2021-11-26 18:39:40,6.615078,3.346345,6.615078,3.346345,0.0
437277,1360540,2021-11-26 18:59:10,2021-11-26 19:00:02,6.428615,3.444754,6.428615,3.444754,0.0
437285,1360557,2021-11-26 19:01:51,2021-11-26 19:02:35,6.428615,3.444754,6.428615,3.444754,0.0
437370,1360720,2021-11-26 19:29:24,2021-11-26 19:29:59,6.453925,3.482031,6.453925,3.482031,0.0
...,...,...,...,...,...,...,...,...
526165,1612730,2021-12-26 14:52:02,2021-12-26 14:53:57,6.674690,3.480629,6.674690,3.480629,0.0
526178,1612774,2021-12-26 15:03:42,2021-12-26 15:06:36,6.508763,3.579862,6.508763,3.579862,0.0
526183,1612796,2021-12-26 15:07:58,2021-12-26 15:10:28,6.508763,3.579862,6.508763,3.579862,0.0
526250,1612980,2021-12-26 15:48:54,2021-12-26 15:49:47,6.508763,3.579862,6.508763,3.579862,0.0
530492,1623854,2021-12-28 17:14:50,2021-12-28 17:41:57,6.620895,3.329562,6.620895,3.329562,0.0

In [18]:
df_order

,trip_id,trip_start_time,trip_end_time,origin_lat,origin_lon,dest_lat,dest_lon,distance
0,391996,2021-07-01 07:28:04,2021-07-01 07:29:37,6.508813,3.377403,6.650970,3.345031,16206.572264
1,391997,2021-07-01 06:38:04,2021-07-01 07:07:28,6.431671,3.455538,6.428081,3.472189,1882.677988
2,391998,2021-07-01 06:21:02,2021-07-01 07:02:23,6.631679,3.338898,6.508324,3.359040,13895.792462
3,391999,2021-07-01 07:16:07,2021-07-01 07:29:42,6.572757,3.367708,6.584881,3.361407,1517.188204
4,392001,2021-07-01 09:30:59,2021-07-01 09:34:36,6.601042,3.276634,6.450107,3.391615,21048.291786
...,...,...,...,...,...,...,...,...
536015,1637696,2021-12-30 20:35:06,2021-12-30 21:02:59,6.448218,3.477208,6.437787,3.481670,1260.349833
536016,1637702,2021-12-30 20:48:13,2021-12-30 21:43:49,6.442321,3.473687,6.436589,3.555974,9114.493804
536017,1637704,2021-12-30 20:51:45,2021-12-30 21:41:32,6.428198,3.492248,6.448089,3.477575,2742.312157
536018,1637705,2021-12-30 20:48:50,2021-12-30 21:08:28,6.586930,3.363297,6.637907,3.333951,6529.718841
536019,1637709,2021-12-30 20:55:38,2021-12-30 22:25:00,6.647210,3.485149,6.454915,3.555840,22763.636281

## trip start and end time